
* {
	margin:0;
	padding:0;
}
.hidden { 
	display: none;
}
@media only screen and (min-width : 64em) {
	.horizontal-line {
	  	display:none;
	}
	
}

body {
	position:relative;
	// display:none;
	.goTop {
		display: none;
		position:fixed;
		right: 0;
		bottom:2em;
		width:1em;
		height:1em;
		margin-right: 1em;
		cursor: hand;
		cursor: pointer;
		border:thin tomato solid;
		padding:.5em;
		// @media only screen and (min-width : 44em) {
		// 	right:0;
		// }
		// @media only screen and (min-width : 64em) {
		// 	right:2em;
		// }
		
		
		
		& span {
			display:block;
			width: 1em;
			height:1em;
			background-size:100%;
			background-position:center;
			background-repeat:no-repeat;
			background-image: url(../img/up.png);
		}
	}
	.goTop:hover {
		@media only screen and (min-width : 64em) {
			
			border:none;
			background-color:#ff6347;
			span{
				background-image: url(../img/up-hover.png);
			}
		}
	}

	font-family:Lato;
}
header {
	flex:0 0 100%;
	position: relative;	
	overflow-x: hidden;
	height:5.2em;
	display:flex;
	

	.header-wrap {
		width:100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		#overlay{
			display: none;
		}
		.header-box {
			background-color: #fff;
			display: flex;
			flex-wrap:wrap;
			justify-content:space-between;
			align-items:center;
			height: 5em;
			padding:.1em;
			
			.logo {
				flex:1 0 1em;
				margin-left: 1em;
				transition:all ease .75s;

				& span {
					display:block;
					width: 5em;
					height: 2em;
					background-image: url(../img/logo-mobile.png);
					background-size:100%;
					background-position:center;
					background-repeat:no-repeat;
				}
			}
			.moving-logo {

				transform:translateX(70vw);

				@media only screen and (min-width : 44em) {

					transform:translateX(82vw);

				}
			}

			.menu {
				flex:0 0 2em;
				height:2em;
				margin-right: 1em;
				cursor: hand;
				cursor: pointer;
				z-index: 20;
				transition:all ease .75s;

				& span {
					display:block;
					width: 2em;
					height:2em;
					background-size:100%;
					background-position:center;
					background-repeat:no-repeat;
					background-image: url(../img/menu-mobile.png);
				}

				& span.close {
					background-image: url(../img/menu-close-mobile.png);
				}
			}
			.moving-menu {

				transform:translateX(-80vw);
				@media only screen and (min-width : 44em) {

					transform:translateX(-88vw);

				}
			}
			

			@media only screen and (min-width : 64em) {

				background-color: #000;
				.logo {				
					& span {
						background-image: url(../img/logo.png);
					}
				}
				.menu {
					span {
						background-image: url(../img/menu.png);
					}
					span.close {
						background-image: url(../img/menu-close.png);
					}
				}

			}//@media only screen and (min-width : 44em)

		}//header-box
			
		@media only screen and (min-width : 64em) {
			#mobile-nav {
				display: none !important;
			}
		
			#overlay {
					/*border: 10px pink solid;*/
					width: 100%;
					height: 100vh;
					position: fixed;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,.7);
					display: flex;
					justify-content:center;
					align-items:center;
					& nav {
						flex:0 1 50%;

						ul {
							list-style-type: none;
							li { 
								text-align: center;
								padding:7px;
								display: flex;
							
								span {
									flex: 0 0 100%;
									text-decoration: none;
									color: #666;
									font-weight:300;
									font-size: 3em;
									transition: all ease .5s;
									cursor:hand;
									cursor:pointer;
									}
							}
							& li:hover {
								& span {
								color: #fff;
								transition: all ease .5s;
								}
							}
							& li:nth-child(1){
								padding-top: 14px;
							}
							& li:nth-child(4){
								padding-bottom: 14px;
							}
						}//ul
					}//nav
				}//#overlay
		}
		//@media only screen and (min-width : 44em)

		#mobile-nav {
			
			width:100%;
			height: 16em;
			display:flex;	
			
		
			& ul {
				flex:0 0 100%;
					display:flex;
					flex-direction:column;
					
				& li {
					flex:1 0 20%;
					text-align:center;
					padding:1em;
					line-height:2em;
					display:flex;
					opacity:.9;
				&:nth-child(1) {
					
					background-color:#314357;
				}
				&:nth-child(2) {
					background-color:#456672;
					
				}
				&:nth-child(3) {
					background-color:#E3B587;
					
				}
				&:nth-child(4) {
					background-color:#C98C70;
					
				}
					& span {
						flex:0 0 100%;
						text-decoration:none;
						color:#fff;
						font-weight:300;
						font-family:Lato;
						cursor:hand;
						cursor:pointer;
					}
				}
			}

			&.hidden {
				display:none;
			}

		}//mobile-nav
		
	}//header-wrap

}//header


main {

	width:100%;
	& section { 
		// min-height: 100vh;
		list-style-type:none;
		margin-bottom:5em;
		
		@media only screen and (min-width : 44em) {
			margin-bottom:0;
		}
		// min-height:40em;
		.section-name-wrap {
			@media only screen and (min-width : 44em) {
				text-align:center;
				margin-bottom:3em;
			}
			.section-name {
				// width: 64%;
				margin-left: 18%;
				margin-bottom: 2em;
				display:inline-block;
				// border:1px green solid;

				.vertical-line {
					margin-right: .2em;
					width: .5em;
					height: 1.6em;
					display: inline-block;
					vertical-align: bottom;
				}
				
				span {
					display: inline-block;
					height: 1.1em;
					font-size: 1.5em;
					vertical-align: bottom;
					font-weight: 300;
				}
				@media only screen and (min-width : 44em) {
					margin-left: -5em;				
					.heading-container {
						display:flex;
						flex-wrap:wrap;
						justify-content:flex-end;			
						span {
							// flex:0 0 100%;
							font-size: 3em;
							vertical-align: bottom;
							font-weight: 300;
							&:after {
								content: "";
								width: 60%;
								border-bottom: .15em tomato solid;
								display: block;
								// margin:0 auto;
							}
						}
						
						.invisible {
							visibility:hidden;
						}
						.vertical-line {
							display:none;
						}
					}
				}

			}//section-name
		}//section-name-wrap


	}//section
	& section:nth-child(1) {
		min-height:30em;
		@media only screen and (min-width : 44em) {
			min-height:100vh;
		}
		display:flex;
		flex-direction:column;
		text-align:center;
		.name {
			height:15em;
			line-height:12em;
			

			p { 
				width:3.5em;
				margin:0 auto;
				font-size:4em;
				text-align:center;
				position:relative;

				.lastname {
					transition:all ease 3s;
					display:inline-block;
				}
				.firstname {
					position:absolute;
					top:0;
					right:.29em;
					

				}
				.moving {
					
					transform:translateY(1em);
					color:tomato;
				}
			}

			.invisible {
				visibility:hidden;
			}
				
			
		}
		.quote {
			margin:.5em auto 0 auto;
			width:2.5em;
			height:2.5em;
			background-repeat:no-repeat;
			background-size:100%;
			background-position:center;
			background-image:url(../img/quote-up.png);
			&:nth-child(2) {
				margin-top:3em;
				margin-bottom:.4em;
			}
			&:nth-child(4) {
				margin-bottom:5em;
				@media only screen and (min-width : 44em){
					margin-bottom:10em;
				}
				background-repeat:no-repeat;
				background-size:100%;
				background-position:center;
				background-image:url(../img/quote-down.png);			
			}
		}
		p {
			font-weight:500;
			font-family:Lato;
			margin:.5em .5em 0 .5em;
			color:#333;
			font-size:1.1em;

			.firstline {
				font-size:1.4em;
				margin-bottom:.5em;
				display:block;
				font-weight:500;
			}

			i {
				
				font-size:.7em;
				line-height:.7em;
				vertical-align:top;
				color:tomato;
			}
			.invisible {
				visibility:hidden;
			}
		}
		.attitude {
			margin: 0 auto 3em auto;
			width:90%;
			font-weight:300;
			line-height:1.5em;
			@media only screen and (min-width : 44em){
				width:70%;
			}
			@media only screen and (min-width : 64em){
				width:40%;
			}
		}
		

	}
	& section:nth-child(2) {
		min-height:570px;
		@media only screen and (min-width : 44em) {
			min-height:100vh;
			margin-bottom:5em;
		}
		
		.work-wrap {
			width:80%;
			margin:0 auto;
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			align-items:center;
			#bbj-tablet,#goldway-tablet,#bestfriend-tablet,.tablet-box {
				display:none;
			}
			@media only screen and (min-width : 44em){
				#bbj,#goldway,#bestfriend {
					display:none;
				}
				#bbj-tablet,#goldway-tablet,#bestfriend-tablet {
					display:block;
				}
			}
			& .work-box {
				flex:0 0 80%;
				// transition: all 0.2s linear;
				@media only screen and (min-width : 44em){
					flex:1 0 40%
				}
				a {
					display:block;
					img {
						width: 100%;
						transition:all 1s ease;
					}
				}
			} //work-box
			.work-box:hover {
				a{
					img{
						
						transform: scale(1.02);
						transition:all 1s ease;
					}
				}
			}
			.invisible {
				visibility:hidden;
			}
			& .tablet-box {
				@media only screen and (min-width : 44em){
					// margin-left:5%;
					display:block;
					flex:1 0 40%
				}
			}
			
		
				text-align:center;
			.work-title{
				// margin-bottom: .5em;
				display: inline-block;
				padding-bottom: .5em;
				line-height: 100%;
				font-size: 1.8em;
				font-family:lato;
				font-weight:300;


				&:after{
					content: "";
					width: 2em;
					border-bottom: .1em tomato solid;
					display: block;
					


				}
			}
			.left-col{
				width: 48%;
				margin-right:1.5em;
							
			}
			.right-col{
				width: 48%;

			}
			.text-wrap{
				
				line-height: 120%;
				text-align:left;
			}

		}//work-wrap

	}
	& section:nth-child(3) {
		
		@media only screen and (min-width : 44em) {
			min-height:100vh;
		}

		.skill-wrap {
			width:50%;
			margin:0 auto;
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
			@media only screen and (min-width : 44em) {
				width:70%;
			}
			.skill-box {
				flex:0 0 100%;
				@media only screen and (min-width : 44em){
					flex:1 0 40%;
					margin:.3em;
				}
				@media only screen and (min-width : 64em){
					flex:1 0 20%;
					margin:.1em;
				}
				// border:1px blue solid;
				background-color: tomato;
				cursor:hand;
				cursor:pointer;
				position: relative;
				overflow:hidden;
					& .text-wrap{
        				box-sizing: border-box;
						padding: 20px;
						color: #fff;
						font-weight: 300;
					}
					.img-wrap{
						position: absolute;
						left: 0;
						top: 0;
						img {
							width: 100%;
							display: block;
						}
					}
				&.html {
					background-color:#314357;
					.img-wrap{
						background-color:#314357;
					}
				}
				&.javascript {
					background-color:#456672;
					.img-wrap{
						background-color:#456672;
					}
				}
				&.php {
					background-color:#E3B587;
					.img-wrap{
						background-color:#E3B587;
					}
				}
				&.else {
					background-color:#C98C70;
					.img-wrap{
						background-color:#C98C70;
					}
				}

			}//skill-box
			@media only screen and (min-width : 64em) {
				margin-bottom: 4em;
			}
		}//skill-wrap
		.d3 {
			display:none;
			@media only screen and (min-width : 64em) {

				display:flex;
				flex-wrap:wrap;

				.d3-html ,.d3-js, .d3-php, .d3-else {
					flex:0 0 25%;
					cursor:hand;
					cursor:pointer;
					svg {
						width:95%;
						height:auto;
					}
				
					// background-color:rgba(255,0,0,.5);
			
				}
				
			}
		}

	}
	& section:nth-child(4) {
		width:100%;
		min-height:25em;
		@media only screen and (min-width : 44em) {
			min-height:100vh;
		}
		.pure-form{
			width: 65%;
			margin: 0 auto;
			text-align: left;
			@media only screen and (min-width : 44em){
				width: 40%;
			}
			.mobile-contact {
				.pure-control-group{
				// 	@media only screen and (min-width : 44em){
				// 		margin-bottom:.5em;
				// 	}
				}
				input,textarea {
					width: 100%;
					// width: 80% !important;
					margin: 0 auto 10px auto;
					display:block !important;
				
				}
				textarea {
					padding: .5em .6em;
					display: block;
					border: 1px solid #ccc;
					box-shadow: inset 0 1px 3px #ddd;
					border-radius: 4px;
					vertical-align: middle;
					box-sizing: border-box;
					margin-bottom:1em;
					width: 100%;
				}
				#message {

					font:inherit;
					color: inherit;
				}
				label {
					margin-bottom: 5px;
					display: block;
					// margin-left: 11% !important;
				}
				.button-wrap{
					width: 100%;
					display:flex;
					justify-content:flex-end;
					.button {
						// display:block;
						// margin:0 auto !important;
						border:thin #fff solid;
						background-color: tomato;
						transition:all ease .5s; 
						margin-top: .7em;
						width: 100%;
					}
					.button:hover {
						background-color:#fff;
						color: tomato;
						border:thin tomato solid;
						transition:all ease .5s;
					}
					@media only screen and (min-width : 44em){
						width: 100%;
						.button{
							margin: 0;
							width: 200px;

						}
					}

				}
			}//.mobile-contact - fieldset
		}//form
		.word {
			position:relative
			display:flex;
			flex-wrap:wrap;
			#change-word {
				flex:0 0 60%;
				font-size:2em;
				font-weight:300;
			}
			#cv-img {
				flex:0 0 40%;
				position:absolute;
				top:1em;
				right:2em;
			}

			display: none;
			@media only screen and (min-width : 44em){
				display:block;
				width:40%;
				margin:0 auto;
				.under-score {

					margin: 0;
					color:tomato;
					font-size:3em;
				}
				margin-bottom:2em;
			}
		}
	}
	
}//main

