/*All devices and mobile phone*/
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: none;
}
body {
	/*display: flex;
	flex-direction:column;	*/
	position: relative;	
}
header {
	width: 100%;
	/*border:1px pink solid;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.header-box {
	background-color: #000;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	padding: 1.5em;
	
}
.logo {
	flex:1 0 1em;
	margin-left: 1em;
}
.logo img {
	width: 5em;
}
.menu {
	flex: 0 2em;
	margin-right: 1em;
	cursor: hand;
	cursor: pointer;
}
.menu img {
	width: 2em;
}
#overlay {
	/*border: 10px pink solid;*/
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.7);
	display: flex;
	justify-content:center;
	align-items:center;
}
#overlay nav {
	flex:0 0 50%;
	background-color: rgba(255,0,0,.5);
	
}
#overlay li { 
	
	font-size: 3em;
}
#overlay a {
	text-decoration: none;
}
section { 
	height: 100vh;
	color: #ccc;
}
section:nth-child(1) {

	background-image: url(../img/night3.jpeg);
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	display: flex;
	justify-content:space-between;
}
#home-box {
	flex:0 0 70%;
	background-color: rgba(255,255,255,.3);
	display: flex;
	justify-content:flex-start;
	align-items:flex-end;
}
.bla {
	flex:0 0 6em;
	height: 4em;
	margin-left: 1em;
	margin-bottom: 1em;
	text-align: center;
	background-image: url(../img/ship1.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}
.bla 
}
.bla a:hover {
	
}
.hidden { 
	display: none;
}

/*for phablet - inclusive*/
@media only screen and (min-width : 24em) {

  
}

/*for phablet - exclusive*/
/*@media only screen and (min-width : 24em) and (max-width : 44.99999em) {
}*/


/*for tablet - inclusive*/
@media only screen and (min-width : 44em) {

}

@media only screen and (min-width : 64em) {
	
}